$text-base-color: rgb(255, 255, 255);
$text-secondary-color: #beb6b6;
$text-hover-color: #e4dede;
$text-title-color: #d3e3e4;
$text-dark-base-color: #000;
$text-dark-second-color: rgb(100, 100, 100);
$text-dark-hover-color: rgb(68, 68, 68);

// Fonts
@font-face {
  font-family: SamsungRegular;
  font-style: normal;
  font-weight: normal;
  src: local('Samsung Sharp Sans Regular'), url('../font/samsung-sharp-sans-cufonfonts-webfont/samsungsharpsans.woff') format('woff');
  }
  
  
  @font-face {
  font-family: SamsungMedium;
  font-style: normal;
  font-weight: normal;
  src: local('Samsung Sharp Sans Medium'), url('../font/samsung-sharp-sans-cufonfonts-webfont/samsungsharpsans-medium.woff') format('woff');
  }
  
  
  @font-face {
  font-family: SamsungBold;
  font-style: normal;
  font-weight: normal;
  src: local('Samsung Sharp Sans Bold'), url('../font/samsung-sharp-sans-cufonfonts-webfont/samsungsharpsans-bold.woff') format('woff');
  }


* {
  margin: 0;
  padding: 0;
}

// Scrolling smoothly through the site
html {
  scroll-behavior: smooth;
}

.containers {
  height: 100vh;
  width: 100%;
  font-family: SamsungRegular;
  // Declearing grid for entire site
  display: grid;
  grid-template-rows: repeat(6, 100vh);
  grid-template-columns: repeat(7, 1fr);
}

#hero-container {
  background: url("../img/hero-desktop.jpg") no-repeat center center;
  background-size: cover;
  overflow: hidden;
  grid-row: 1;

  // TODO: Work on this
  #nav-container {
    grid-column: 2/7;

    nav {
      height: 100px;
    }
    
    ul {
      position: absolute;
      left: 50%;
      transform: translate(-50%, -50%);
      position: fixed;
      list-style: none;
      z-index: 10;
      display: grid;
      grid-template-columns: repeat(6, 150px);
      margin-top: 30px;

      li {
        text-align: center;
        font-size: 17px;
        cursor: pointer;

        a {
          text-decoration: none;
          color: inherit;
        }
      }

    // Classes to use in js to choose selected tab
      .nav-not-selected {
        color: $text-secondary-color;
      }
      
      .nav-not-selected:hover {
        color: $text-hover-color;
      }
      
      .nav-selected {
        color: $text-base-color;
        font-family: SamsungMedium;
      }

      .nav-dark-selected {
        color: $text-dark-base-color;
        font-family: SamsungMedium;
      }

      .nav-dark-not-selected {
        color: $text-dark-second-color;
      }

      .nav-dark-not-selected:hover {
        color: $text-dark-hover-color;
      }
    }

  }

  h1 {
    color: #fff;
    text-align: center;
    font-weight: 400;
    font-family: "Samsung Sharp Sans Medium";
    font-size: 100px;
    position: relative;
    top: 340px;
    grid-column: 3/6;
  }

  #cover {
    background-color: #000;
    opacity: 0.35;
    position: absolute;
  }
}

.where-and-contact-container {
  background: rgb(189, 198, 183);
  background: linear-gradient(
    90deg,
    rgba(189, 198, 183, 1) 35%,
    rgba(151, 157, 134, 1) 100%
  );

}

#where-container {
  grid-row: 2;

  #where-info-box {
    width: 800px;
    height: 100vh;
    position: relative;
    margin: auto;
    top: 15%;
    grid-column: 3/6;

    .where-text-parts {
      margin-top: 40px;
    }

  #where-text {
      height: 30vh;
      display: grid;
      grid-template-columns: auto 2px auto;

      text-align: center;


    #where-vertical-line {
      border-left: 2px solid $text-dark-second-color;
      height: 250px;
    }

  }
}
}

#wishlist-container {
  grid-row: 3;
  background: url("../img/where-desktop.jpg") no-repeat center center;
  background-size: cover;

  #wishlist-image-container {
    position: relative;
    text-align: center;
    top: 35%;
    grid-column: 3/6;

      a {
        text-decoration: none;



      img {
        width: 400px;
        opacity: .7;
        border-radius: 20px;
        &:hover {
          opacity: 1;
        }
      }
    }
  }
}

#corona-container {
  grid-row: 5;
  background-color: black;
}