$text-base-color: rgb(255, 255, 255);
$text-secondary-color: #beb6b6;
$text-hover-color: #e4dede;
$text-title-color: #d3e3e4;
$text-dark-base-color: #000;
$text-dark-second-color: rgb(100, 100, 100);
$text-dark-hover-color: rgb(68, 68, 68);

// Fonts
@font-face {
  font-family: SamsungRegular;
  font-style: normal;
  font-weight: normal;
  src: local('Samsung Sharp Sans Regular'), url('../font/samsung-sharp-sans-cufonfonts-webfont/samsungsharpsans.woff') format('woff');
  }
  
  
  @font-face {
  font-family: SamsungMedium;
  font-style: normal;
  font-weight: normal;
  src: local('Samsung Sharp Sans Medium'), url('../font/samsung-sharp-sans-cufonfonts-webfont/samsungsharpsans-medium.woff') format('woff');
  }
  
  
  @font-face {
  font-family: SamsungBold;
  font-style: normal;
  font-weight: normal;
  src: local('Samsung Sharp Sans Bold'), url('../font/samsung-sharp-sans-cufonfonts-webfont/samsungsharpsans-bold.woff') format('woff');
  }


* {
  margin: 0;
  padding: 0;
}

// Scrolling smoothly through the site
html {
  scroll-behavior: smooth;
}

.containers {
  height: 100vh;
  width: 100%;
  font-family: SamsungRegular;
  // Declearing grid for entire site
  display: grid;
  grid-template-rows: repeat(6, 100vh);
  grid-template-columns: repeat(7, 1fr);
}

// Properties for Home
#hero-container {
  background: url("../img/hero-desktop.jpg") no-repeat center center;
  background-size: cover;
  overflow: hidden;
  grid-row: 1;
  display: grid;
  grid-template-rows: repeat(6, auto);

  // TODO: Work on this
  #nav-container {
    grid-column: 2/7;

    nav {
      height: 100px;
    }
    
    ul {
      position: absolute;
      left: 50%;
      transform: translate(-50%, -50%);
      position: fixed;
      list-style: none;
      z-index: 10;
      display: grid;
      grid-template-columns: repeat(6, 150px);
      margin-top: 30px;

      li {
        text-align: center;
        font-size: 17px;
        cursor: pointer;

        a {
          text-decoration: none;
          color: inherit;
        }
      }

    // Classes to use in js to choose selected tab
      .nav-not-selected {
        color: $text-secondary-color;
      }
      
      .nav-not-selected:hover {
        color: $text-hover-color;
      }
      
      .nav-selected {
        color: $text-base-color;
        font-family: SamsungMedium;
      }

      .nav-dark-selected {
        color: $text-dark-base-color;
        font-family: SamsungMedium;
      }

      .nav-dark-not-selected {
        color: $text-dark-second-color;
      }

      .nav-dark-not-selected:hover {
        color: $text-dark-hover-color;
      }
    }

  }

  h1 {
    color: #fff;
    text-align: center;
    font-weight: 400;
    font-family: SamsungMedium;
    font-size: 100px;
    grid-column: 2/7;
    grid-row: 5;
    // To get font over cover
    z-index: 2;
  }

  // Cover for darker background image
  #cover {
    background-color: #000;
    opacity: 0.35;
    position: absolute;
    z-index: 1;
  }
}

// Background for where-, hotel- and corona-section
.where-hotel-corona-container {
  background: rgb(189, 198, 183);
  background: linear-gradient(
    90deg,
    rgba(189, 198, 183, 1) 35%,
    rgba(151, 157, 134, 1) 100%
  );

}

// Properties for where
#where-container {
  grid-row: 2;
  display: grid;
  grid-template-rows: repeat(8, auto);

  #where-info-box {
    width: 800px;
    height: 30vh;
    position: relative;
    margin: auto;
    grid-column: 2/7;
    grid-row: 2;
    row-gap: 30px;
    display: grid;
    grid-template-columns: auto 3px auto;

    h2 {
      font-size: 17px;
      font-family: SamsungMedium;
    }

    p {
      font-size: 15px;
      padding: 3px;
    }
    
    .where-text-parts {
      margin-top: 40px;
      text-align: center;
    }

    #where-vertical-line {
      border-left: 2px solid $text-dark-second-color;
      height: 225px;
      grid-column: 2;
      grid-row: 1;
    }

    iframe {
      grid-column: 1/4;
      width: 90%;
      margin: auto;
    }
  }
}

// Properties for wishlist
#wishlist-container {
  grid-row: 3;
  background: url("../img/where-desktop.jpg") no-repeat center center;
  background-size: cover;

  #wishlist-image-container {
    position: relative;
    text-align: center;
    top: 35%;
    grid-column: 3/6;

      a {
        text-decoration: none;
        font-family: SamsungMedium;
        color: white;
        opacity: .6;

        h3 {
          opacity: .6;
          font-size: 30px;
        }

      img {
        width: 250px;
        filter: invert(1);
        opacity: .6;
        border-radius: 20px;

        &:hover {
          opacity: 1;
        }
      }

      &:hover {
        opacity: 1;
      }

      &:hover h3 {
        opacity: 1;
      }

      &:hover img {
        opacity: 1;
      }

    }

  }
}

// Properties for hotel
#hotel-container {
  grid-row: 4;
  display: grid;
  grid-template-rows: repeat(8, auto);

  #hotels-box {
    width: 800px;
    height: 30vh;
    margin: auto;
    grid-column: 2/7;
    grid-row: 3;
    row-gap: 30px;
    display: grid;
    grid-template-columns: auto 3px auto;
    text-align: center;

    p {
      grid-column: 1/4;
    }

    .hotel-boxes {
      grid-row: 3;
      margin-top: 40px;
    }

    #hotel-vertical-line {
      border-left: 2px solid $text-dark-second-color;
      height: 225px;
      grid-column: 2;
      grid-row: 3;
    }
  }
}

#contact-container {
  background-color: darkolivegreen;
}