$text-base-color: rgb(255, 255, 255);
$text-secondary-color: #beb6b6;
$text-title-color: #d3e3e4;

* {
  margin: 0;
  padding: 0;
  //font-family: "Mako", sans-serif;
  font-family: "Samsung Sharp Sans Regular";
  font-style: normal;
}

@font-face {
  font-family: "Samsung Sharp Sans Regular";
  font-style: normal;
  font-weight: normal;
  src: local("Samsung Sharp Sans Regular"),
    url("../font/samsung-sharp-sans-cufonfonts-webfont/samsungsharpsans.woff")
      format("woff");
}

@font-face {
  font-family: "Samsung Sharp Sans Medium";
  font-style: normal;
  font-weight: normal;
  src: local("Samsung Sharp Sans Medium"),
    url("../font/samsung-sharp-sans-cufonfonts-webfont/samsungsharpsans-medium.woff")
      format("woff");
}

@font-face {
  font-family: "Samsung Sharp Sans Bold";
  font-style: normal;
  font-weight: normal;
  src: local("Samsung Sharp Sans Bold"),
    url("../font/samsung-sharp-sans-cufonfonts-webfont/samsungsharpsans-bold.woff")
      format("woff");
}

#hero-container {
  background: url("../img/hero-desktop.jpg") no-repeat center center;
  background-size: cover;
  height: 100vh;
  overflow: hidden;

  #nav-container {
    ul {
      text-align: center;
      font-weight: 800;
      // Position is set to relative until it changes to
      // fixed as soon as Yoffsett is 100vh
      // position: relative;
      //top: 85vh;
      position: relative;
      z-index: 1;

      .nav-not-selected {
        color: $text-secondary-color;
      }

      #nav-home {
        color: $text-base-color;
      }

      li {
        display: inline-block;
        font-size: 22px;
        margin: 75px;
        margin-top: 30px;
        cursor: pointer;
      }
    }
  }

  h1 {
    color: #fff;
    text-align: center;
    font-weight: 400;
    font-family: "Samsung Sharp Sans Medium";
    font-size: 100px;
    position: relative;
    top: 340px;
  }

  #cover {
    height: 100vh;
    width: 100%;
    background-color: #000;
    opacity: 0.35;
    position: absolute;
  }
}

#where-container {
  height: 100vh;
  background: rgb(189, 198, 183);
  background: linear-gradient(
    90deg,
    rgba(189, 198, 183, 1) 35%,
    rgba(151, 157, 134, 1) 100%
  );

  #where-info-box {
    width: 800px;
    height: 500px;
    position: relative;
    margin: auto;
    top: 25%;

    h2 {
      color: black;
      font-size: 40px;
      text-align: center;
      position: relative;
      top: 30px;
    }
  }
}

#wishlist-container {
  background: url("../img/where-desktop.jpg") no-repeat center center;
  background-size: cover;
  height: 100vh;
}
